<!doctype html>
<html>
<head>
  <%= render "layouts/shared/head_includes" %>
</head>

<body>
<div id="container"> 
  <%= render "layouts/shared/navigation_header" %>
  
  <!-- body container  -->
  <div class="login-container" style="padding:0px;">
    <div class="top-text">Our fresh meal-kits start at just $19.99/person/day and include 3 delicious meals and 2 healthy snacks!
      Our dietitians carefully select natural/organic vegetables and lean quality proteins like free range
      chicken & eggs, as well as, wild caught fish that are all antibiotic free & hormone free. Local and
      seasonal ingredients are also included and given priority when available.</div>
    <div class="inner-container">
    <!-- box1-->
      <div class="plan-box">
        <div class="plan-box-heading">$19.99/Person/Day</div>
        <div class="plan-box-details">
          <div class="top-row">
            <h3>3 Day</h3>
            <h2>Starter Plan</h2>
          </div>
          <div class="plan-box-inner">
            <div class="cat-name">What’s Included?</div>
            <div style="height:2px; width:100%; background:#ccc; margin:0 auto;"></div>
            <div class="disc-name-img">
              <div class="heading">3 Breakfasts</div>
              <div align="center"><img src="/assets/blank-img.png" width="129" height="81" alt=""/></div>
              <div class="heading">3 Lunches</div>
              <div align="center"><img src="/assets/blank-img.png" width="129" height="81" alt=""/></div>
              <div class="heading">3 Dinners</div>
              <div align="center"><img src="/assets/blank-img.png" width="129" height="81" alt=""/></div>
              <div class="heading">6 Snacks</div>
              <div align="center"><img src="/assets/blank-img.png" width="129" height="81" alt=""/></div>
              <div class="heading">Meal Labels</div>
              <div align="center"><img src="/assets/blank-img.png" width="129" height="81" alt=""/></div>
            </div>
            <div class="cat-name">Features</div>
            <div style="height:2px; width:100%; background:#ccc; margin:0 auto;"></div>
            <ul>
              <li>1200-2000 Calorie    Range</li>
              <li>Customized Menu</li>
              <li>45 Day Menu Cycle</li>
              <li>5 Ingredient Dislikes</li>
              <li>Pause / Continue Service</li>
              <li>Many Delivery Options (7am-9pm)</li>
            </ul>
            <div class="cat-name">You May Need</div>
            <div style="height:2px; width:100%; background:#ccc; margin:0 auto;"></div>
            <ul>
              <li>Traditional Pantry Items</li>
              <li>Basic Cookware</li>
              <li>Tupperware</li>
              <li>Zip Lock Bags</li>
            </ul>
            <div style="height:2px; width:100%; background:#ccc; margin:20px auto 5px;"></div>
            <div  class="total">Total: $59.97</div>
            <div class="btn-all"><%= render_get_started_button(3) %></div>
          </div>
        </div>
      </div>
      <!-- box1 close-->
       
       
       <!-- box2-->
      <div class="plan-box">
        <div class="plan-box-heading">$18.99/Person/Day</div>
        <div class="plan-box-details">
          <div class="top-row">
            <h3>5 Day</h3>
            <h2>Pro Plan</h2>
          </div>
          	<div class="most-popular"><img src="/assets/most.png" alt=""/></div>
          <div class="plan-box-inner">
            <div class="cat-name" style="height:55px; line-height:80px;">What’s Included?</div>
            <div style="height:2px; width:100%; background:#ccc; margin:0 auto;"></div>
            <div class="disc-name-img">
              <div class="heading">5 Breakfasts</div>
              <div align="center"><img src="/assets/blank-img.png" width="129" height="81" alt=""/></div>
              <div class="heading">5 Lunches</div>
              <div align="center"><img src="/assets/blank-img.png" width="129" height="81" alt=""/></div>
              <div class="heading">5 Dinners</div>
              <div align="center"><img src="/assets/blank-img.png" width="129" height="81" alt=""/></div>
              <div class="heading">10 Snacks</div>
              <div align="center"><img src="/assets/blank-img.png" width="129" height="81" alt=""/></div>
              <div class="heading">Meal Labels</div>
              <div align="center"><img src="/assets/blank-img.png" width="129" height="81" alt=""/></div>
            </div>
            <div class="cat-name">Features</div>
            <div style="height:2px; width:100%; background:#ccc; margin:0 auto;"></div>
            <ul>
              <li>1200-2000 Calorie    Range</li>
              <li>Customized Menu</li>
              <li>45 Day Menu Cycle</li>
              <li>5 Ingredient Dislikes</li>
              <li>Pause / Continue Service</li>
              <li>Many Delivery Options (7am-9pm)</li>
            </ul>
            <div class="cat-name">You May Need</div>
            <div style="height:2px; width:100%; background:#ccc; margin:0 auto;"></div>
            <ul>
              <li>Traditional Pantry Items</li>
              <li>Basic Cookware</li>
              <li>Tupperware</li>
              <li>Zip Lock Bags</li>
            </ul>
            <div style="height:2px; width:100%; background:#ccc; margin:20px auto 5px;"></div>
            <div  class="total">Total: $94.95</div>
            <div class="btn-all"><%= render_get_started_button(5) %></div>
          </div>
        </div>
      </div>
      <!-- box2 close-->
      
      <!-- box3-->
      <div class="plan-box">
        <div class="plan-box-heading">$16.99/Person/Day</div>
        <div class="plan-box-details">
          <div class="top-row">
            <h3>10 Day</h3>
            <h2>Survivor Plan</h2>
          </div>
          <div class="plan-box-inner">
            <div class="cat-name">What’s Included?</div>
            <div style="height:2px; width:100%; background:#ccc; margin:0 auto;"></div>
            <div class="disc-name-img">
              <div class="heading">10 Breakfasts</div>
              <div align="center"><img src="/assets/blank-img.png" width="129" height="81" alt=""/></div>
              <div class="heading">10 Lunches</div>
              <div align="center"><img src="/assets/blank-img.png" width="129" height="81" alt=""/></div>
              <div class="heading">10 Dinners</div>
              <div align="center"><img src="/assets/blank-img.png" width="129" height="81" alt=""/></div>
              <div class="heading">20 Snacks</div>
              <div align="center"><img src="/assets/blank-img.png" width="129" height="81" alt=""/></div>
              <div class="heading">Starter Kit</div>
              <div align="center"><img src="/assets/blank-img.png" width="129" height="81" alt=""/></div>
            </div>
            <div class="cat-name">Features</div>
            <div style="height:2px; width:100%; background:#ccc; margin:0 auto;"></div>
            <ul>
              <li>1200-2000 Calorie    Range</li>
              <li>Customized Menu</li>
              <li>45 Day Menu Cycle</li>
              <li>5 Ingredient Dislikes</li>
              <li>Pause / Continue Service</li>
              <li>Many Delivery Options (7am-9pm)</li>
            </ul>
            <div class="cat-name">You May Need</div>
            <div style="height:2px; width:100%; background:#ccc; margin:0 auto;"></div>
            <ul>
              <li>Traditional Pantry Items</li>
              <li>Basic Cookware</li>
            <div style="height:40px;"></div>
            </ul>
            <div style="height:2px; width:100%; background:#ccc; margin:20px auto 5px;"></div>
            <div  class="total">Total: $169.90</div>
            <div class="btn-all"><%= render_get_started_button(10) %></div>
          </div>
        </div>
      </div>
      <!-- box3 close-->
      
      
      <!-- box4-->
      <div class="plan-box">
        <div class="plan-box-heading">$15.99/Person/Day</div>
        <div class="plan-box-details">
          <div class="top-row">
            <h3>21 Day</h3>
            <h2>Warrior Plan</h2>
          </div>
          <div class="plan-box-inner">
            <div class="cat-name">What’s Included?</div>
            <div style="height:2px; width:100%; background:#ccc; margin:0 auto;"></div>
            <div class="disc-name-img">
              <div class="heading">21 Breakfasts</div>
              <div align="center"><img src="/assets/blank-img.png" width="129" height="81" alt=""/></div>
              <div class="heading">21 Lunches</div>
              <div align="center"><img src="/assets/blank-img.png" width="129" height="81" alt=""/></div>
              <div class="heading">21 Dinners</div>
              <div align="center"><img src="/assets/blank-img.png" width="129" height="81" alt=""/></div>
              <div class="heading">42 Snacks</div>
              <div align="center"><img src="/assets/blank-img.png" width="129" height="81" alt=""/></div>
              <div class="heading">Starter Kit</div>
              <div align="center"><img src="/assets/blank-img.png" width="129" height="81" alt=""/></div>
            </div>
            <div class="cat-name">Features</div>
            <div style="height:2px; width:100%; background:#ccc; margin:0 auto;"></div>
            <ul>
              <li>1200-2000 Calorie    Range</li>
              <li>Customized Menu</li>
              <li>45 Day Menu Cycle</li>
              <li>5 Ingredient Dislikes</li>
              <li>Pause / Continue Service</li>
              <li>Many Delivery Options (7am-9pm)</li>
            </ul>
            <div class="cat-name">You May Need</div>
            <div style="height:2px; width:100%; background:#ccc; margin:0 auto;"></div>
            <ul>
              <li>Traditional Pantry Items</li>
              <li>Basic Cookware</li>
              <div style="height:40px;"></div>
            </ul>
            <div style="height:2px; width:100%; background:#ccc; margin:20px auto 5px;"></div>
            <div  class="total">Total: $335.79</div>
            <div class="btn-all"><%= render_get_started_button(21) %></div>
          </div>
        </div>
      </div>
      <!-- box4 close-->
      
    </div>
    <div style="clear:both;"></div>
    <div class="footer-text">*Our ingredients never include MSG or High Fructose Corn Syrup and are always minimally processed. However, please be advised that manufactures of ingredients we delivery may change their product formulation or consistency of ingredients at any time without notice. Accordingly, actual ingredients and nutritional content may vary and we cannot guarantee that any food item will be completely free of food allergens. If you or any of your family members have an allergy restriction(s), please consult with your primary care physician or one of our registered dietitians before using our product.</div>
    <div style="clear:both;"></div>
  </div>
  
  <!-- body container close --> 
  
  <%= render "layouts/shared/footer" %>  
  
</div>
</body>
</html>
