<!doctype html>
<html>
<head>
  <%= render "layouts/shared/head_includes" %>
    <script type="text/javascript">
      $(function(){
      
        $( ".modal" ).trigger( "click" );

        $('.modal').modal({
          'modal': 'modal-window',
          'close': 'modal-close',
          'closeText': 'Close',
          'shade': 'modal-shade'
        });

      });
  </script>

</head>

<body>
<div id="container"> 
  <%= render "layouts/shared/navigation_header" %>

  <a href="#" class="modal" data-content="<%= page_path("preferences_complete") %>" style="display:none;"></a>

  <!-- Get Started container  -->
  <div class="get-started-container">
    <div style="width:100%; height:5px;"> </div>
    <h1 class="h1-float-left">Get Started with Fitly!</h1>
    <div class="profile-complete"><span>Your profile is 55% complete!</span>
      <div><span style="width:55%;"></span></div>
    </div>
    <div class="contentcontainer" style="margin-bottom:20px;">
      <div class="tab">
        <div class="tab1"><a href="#" class="rightactive">1. <span>Dietary Needs</span></a></div>
        <div class="tab1"><a href="#" class="rightactive">2. <span>Dietary Preferences</span></a></div>
        <div class="tab1"><a href="#" class="active">3. <span>Dietary Dislikes</span></a></div>

        <div class="tab1"><a href="<%= wizard_path(:dietary_needs) %>" class="rightactive">1. <span>Dietary Needs</span></a></div>
        <div class="tab1"><a href="<%= wizard_path(:dietary_preferences) %>" class="rightactive">2. <span>Dietary Preferences</span</a></div>
        <div class="tab1"><a href="<%= wizard_path(:dietary_dislikes) %>" class="active">3. <span>Dietary Dislikes</span</a></div>

      </div>
      <%= form_tag subscription_path(:dietary_dislikes), id: 'dietary_dislikes_form', method: 'PUT' do %> 
        <div class="spacer"></div>
        <div class="innerbody innerbody-extra-width">
          <div class="delvinf-container delvinf-container-extra-width">
             
            <h1 class="lineheight">
              Tell us what foods/ingredients you dislike to avoid menu items that contain them!
            </h1>
            <div style="width:100%;">
              <textarea name="dietary_dislikes" class="textarea1" onClick="if(this.value=='other allergies/preferences (please specify)') this.value='';" onBlur="if(this.value=='') this.value='other allergies/preferences (please specify)';">other allergies/preferences (please specify)</textarea>
            </div>
          </div>
        </div>
        <div class="back-nextbtn">
          <div class="backbtn"><%= link_to "Back", previous_wizard_path %></div>
          <input type="submit" class="nextbtn" value="Next" />
        </div>
      <% end %>
    </div>
  <!-- Get Started container close --> 
  
  <%= render "layouts/shared/footer" %> 
  
    <script>
    $('.modal').modal({
      'modal': 'modal-window',
      'close': 'modal-close',
      'closeText': 'X',
      'shade': 'modal-shade'
    });
  </script>

</div>
</body>
</html>
