<!doctype html>
<html>
<head>
  <%= render "layouts/shared/head_includes" %>
  <%= javascript_include_tag "rails.validations", "rails.validations.simple_form" %>
  <script src="/assets/modal.jquery.js"></script>
  <script type="text/javascript">
  		$(function(){
        $('#signup_request_insurer').on('change', function() {
          if ($(this).val() != "") {            
            $(".dietician_question").show();
            $("#dietician_question_insurer").text($("#user_insurer option:selected").text());
          }
        });
  		
  			$('input:radio').screwDefaultButtons({
  				image: 'url("/assets/radiovSmall.jpg")',
  				width: 25,
  				height: 25
  			});
  			
  			$('input:checkbox').screwDefaultButtons({
  				image: 'url("/assets/checkboxvSmall.jpg")',
  				width: 28,
  				height: 28
  			});
  		});
  </script>
</head>

<body>
  <div id="container"> 
    <%= render "layouts/shared/navigation_header" %>
  
    <!-- Get Started container  -->
    <div class="get-started-container">
      <h1 class="paddingleft">Get Started with Fitly!</h1>
      <div class="contentcontainer signup">
        <% if params[:plan].present? %>
          <div class="tab">
            <div class="tab1"><a href="<%= wizard_path(:signup) %>" class="active">1. <span>Sign Up</span></a></div>
            <div class="tab1"><a href="<%= wizard_path(:billing) %>">2. <span>Billing Information</span></a></div>
            <div class="tab1"><a href="<%= wizard_path(:delivery_address) %>">3. <span>Delivery Information</span></a></div>
          </div>
        <% end %>
        <div class="innerbody"><br /><div style="width:100%; height:1px;"></div>
          <%= display_signup_greeting(@signup_request.is_specialist) %>
          <% if @signup_request.subscription_type %>
            <h3>You’ve selected:</h3>
            <div class="selecteddiv">
              <%= meal_plan_description(@signup_request.subscription_type) %>
            </div>
          <% end %>
          <% if @signup_request.is_specialist %>
            <%= simple_form_for @signup_request, :as => :signup_request, url: wizard_path, :validate => true, html: { class: "login" }, :method => "PUT" do |f| %>
              <%= f.error_notification %>
              <%= f.input_field :is_specialist, as: :hidden %>
              <div class="signuppage-form">
                <div class="leftdetails">
                  <div class="textname">First Name</div>
                  <div class="inputfield">
                    <%= f.input_field :first, placeholder: "First Name" %>
                  </div>
                  <div class="textname">Last Name</div>
                  <div class="inputfield">
                    <%= f.input_field :last, placeholder: "Last Name" %>
                  </div>
                  <div class="textname">Phone Number</div>
                  <div class="inputfield">
                    <%= f.input_field :phone, placeholder: "Phone Number" %>
                  </div>
                  <div class="textname">Email</div>
                  <div class="inputfield">
                    <%= f.input_field :email, placeholder: "Email" %>
                  </div>                  
                  <div class="textname">Certification Type</div>
                  <div class="styled-select topmargin short-catg selectcertification">
                    <%= select_tag "signup_request[certificate_type]", options_for_select(dietitian_certifications), prompt: 'Please select certification', class: "select2"%>
                  </div>
                  <div class="textname">Certificate Number</div>
                  <div class="inputfield">
                    <%= f.input_field :certificate_number, placeholder: "Registration Number" %>
                  </div>
                  <div class="textname">Practitioner code</div>
                  <div class="inputfield">
                    <%= f.input_field :practitioner_code, placeholder: "Practitioner code" %>
                  </div>
                  <div class="checkbox" style="width:300px;">
                    <input type="checkbox" name="signup_request[ok_to_email]" id="ex2_a">
                    <label for="ex2_a">Send me Fitly’s latest recipes each week!</label>
                  </div>
                </div>
                <div class="rightdetails">
                  <div class="textname">Password</div>
                  <div class="inputfield">
                    <%= f.input_field :password, placeholder: "password", required: true %>
                  </div>
                  <div class="textname">Password confirmation</div>
                  <div class="inputfield">
                    <%= f.input_field :password_confirmation, placeholder:"password confirmation",required:true %>
                  </div>
                  <div class="textname">Business name</div>
                  <div class="inputfield">
                    <%= f.input_field :business_name, placeholder: "Business Name", required: true %>
                  </div>
                  <div class="textname">Street address</div>
                  <div class="inputfield">
                    <%= f.input_field :street, placeholder: "Address" %>
                  </div>
                  <div class="textname">City</div>
                  <div class="inputfield">
                    <%= f.input_field :city, placeholder: "City" %>
                  </div>
                  <div class="textname">State, Zipcode</div>
                  <div class="inputfield" style="border:0px;">
                    <div style="width:42%; float:left; margin-right:10px;">
                      <div class="styled-select topmargin short-catg selectcertification">
                        <%= select_tag "signup_request[address][state]", options_for_select(us_states), class: "select3"%>
                      </div>
                    </div>
                    <div style="overflow:hidden;" class="inputfield">
                      <%= f.input_field :zipcode, placeholder: "46201", required: true %>
                    </div>
                  </div>
                  <div class="rowfiller">
                  </div>
                  <div class="submitbtn">
                    <input type="submit" class="nextbtn" value="Submit"/>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>          
            <%= simple_form_for @signup_request, :as => :signup_request, url: wizard_path, :validate => true, html: { class: "login" }, :method => "PUT" do |f| %>
              <%= f.error_notification %>
              <%= f.input_field :subscription, as: :hidden %>
              <%= f.input_field :is_specialist, as: :hidden %>
              <div class="signuppage-form">
                <div class="leftdetails">
                  <div class="textname">First Name</div>
                  <div class="inputfield">
                    <%= f.input_field :first, placeholder: "Jane" %>
                  </div>
                  <div class="textname">Last Name</div>
                  <div class="inputfield">
                    <%= f.input_field :last, placeholder: "Doe" %>
                  </div>
                  <div class="textname">Email</div>
                  <div class="inputfield">
                    <%= f.input_field :email, placeholder: "jane.doe@email.com", required: true %>
                  </div>
                  <div class="textname">Password</div>
                  <div class="inputfield">
                    <%= f.input_field :password, placeholder: "password" %>
                  </div>
                  <div class="textname">Confirm password</div>
                  <div class="inputfield">
                    <%= f.input_field :password_confirmation, placeholder:"password" %>
                  </div>
                  <div class="textname">Insurance Provider*:</div>
                  <div class="styled-select medium-catg">
                    <%= select_tag "signup_request[insurer]", insurance_providers, include_blank: true, prompt: 'Please select provider', style: "margin: 0" %>
                  </div>
                </div>
                <div class="rightdetails">
                  <div class="textname" >Height</div>
                  <div class="heightdiv">
                    <div class="height">
                      <%= f.input_field :height_ft, placeholder: "5" %>
                    </div>
                    <div class="text">feet</div>
                    <div class="height">
                      <%= f.input_field :height_inch, placeholder: "8" %>
                    </div>
                    <div class="text">inches</div>
                  </div>
                  <div class="weight-gender">
                    <div class="innerdiv">
                      <div class="text">Weight (in lbs)</div>
                      <div class="weight">
                        <%= f.input_field :weight, placeholder: "200" %>
                      </div>
                    </div>
                    <div class="innerdiv">
                      <div class="text">Gender</div>
                      <div>
                        <input type="radio" name="signup_request[gender]" id="male" value="male" checked>
                        <label for="ex1_a">Male</label>
                      </div>
                      <div>
                        <input type="radio" name="signup_request[gender]" id="female" value="female">
                        <label for="ex1_b">Female</label>
                      </div>
                    </div>
                  </div>
                  <div class="textname">Date of Birth</div>
                  <div class="inputfield">
                    <%= f.input_field :dob, placeholder: "02-02-1960" %>
                  </div>
                  <div class="textname">Invite code (optional)</div>
                  <div class="inputfield">
                    <%= f.input_field :invite_code, placeholder: "76638", required: false %>
                  </div>
                  <div class="textname">Practitioner code (optional)</div>
                  <div class="inputfield">
                    <%= f.input_field :practitioner_code, placeholder: "183749", required: false %>
                  </div>
                  <div class="textname">Zip code</div>
                  <div class="inputfield">
                    <%= f.input_field :zipcode, placeholder: "46201", required: true  %>
                  </div>
                </div>
                <div class="lastbtn">
                  <div class="checkbox">
                    <input type="checkbox" name="signup_request[ok_to_email]" id="ex2_a">
                    <label for="ex2_a">Send me Fitly’s latest recipes each week!</label>
                  </div>
                  <div style="display: none" class="lasttop dietician_question">
                    Did you know you may be eligible for <span id="dietician_question_qty">6</span> dietitian visits 
                    with <span id="dietician_question_insurer"></span>?<br /> 
                    Would you be interested in speaking to a registered dietitian in your area?
                  </div>
                  <div class="yes-no dietician_question" style="display: none">
                    <input type="radio" name="signup_request[ok_to_discuss_with_dietician]" id="ex1_a">
                    <label for="ex1_a">Yes</label>
                  </div>
                  <div class="yes-no dietician_question" style="display: none">
                    <input type="radio" name="signup_request[ok_to_discuss_with_dietician]" id="ex1_b">
                    <label for="ex1_b">No</label>
                  </div>
                </div>
              </div>
            <div class="footertop"><b>* To take advantage of Fitly’s dietetic services, you must provide proof of insurance.</b> <br>
              By creating an account, you confirm that you have read and agreed to our <a href="#">Terms of
              Service</a>,<br>
              which includes our <a href="#">Substitution Policy</a>, and our <a href="#">Privacy Policy</a>.
            </div>
            <% if params[:plan].present? %>
              <div class="back-nextbtn">
                <div class="backbtn" style="visibility:hidden;"><a href="#">Back</a></div>
                <input type="submit" class="nextbtn" value="Next">
              </div>
            <% else %>
              <div class="back-nextbtn">
                <input type="submit" id="nextbtn-signup" class="nextbtn" value="Sign Up!" />
                <div class="letterlink">
                  <%= link_to "Cancel", account_path %>
                </div>
              </div>
            <% end %>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <!-- Get Started container close --> 
  
    <%= render "layouts/shared/footer" %>  
  </div>
</body>
</html>