<!doctype html>
<html>
<head>
  <%= render "layouts/shared/head_includes" %>
	<link href="/assets/jquery.dataTables.css" rel="stylesheet" type="text/css">
	<link href="/assets/dataTables.responsive.css" rel="stylesheet" type="text/css">
	<script src="/assets/jquery.dataTables.js"></script>
	<script src="/assets/dataTables.responsive.js"></script> 
	<script type="text/javascript">
	$(document).ready(function(){
		$('.dietary-needs-tabs').click(function(){
			$(this).toggleClass('dietary-needs-tabs-untick');		
			});
			
			$('#example').DataTable({
				"order": [[ 1, "asc" ]],
				columnDefs: [{ orderable: false, targets: [0,2,3,4]}],
				responsive:true
				});
			
			$('input:checkbox').screwDefaultButtons({
					image: 'url("images/checkboxvSmall.jpg")',
					width: 28,
					height: 28
				});
				
			$('tr:not(:contains(".ul"))').click(function(){
				if($(document).width()<420) {
				setTimeout(function(){
				$('input:checkbox').screwDefaultButtons({
					image: 'url("images/checkboxvSmall.jpg")',
					width: 28,
					height: 28
				});		
				},10);
				}
			});
			
		});
	</script>
</head>

<body>
<div id="container"> 
  <%= render "layouts/shared/navigation_header_authenticated" %>
  
  <!-- Get Started container  -->
  <div class="get-started-container">
    <div style="width:100%; height:5px;"> </div>
    <%= display_user_greeting %>
    <div class="contentcontainer borderbold"> 
    
    <div class="datatabletop">
    	<div class="datatableinleft">MY PATIENTS</div>
        <div class="rightsearch"><input type="text" placeholder="search patients"/></div>
        <div class="add-patient"><a href="#">+ Add Patient</a></div>
        
    </div>
      
      <!-- Billing Information -->
      <table id="example" class="display responsive nowrap" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th align="left" style="font-size:14px;">FULL NAME</th>
						<th align="left" style="font-size:14px;">STATUS</th>
						<th align="left" style="font-size:14px;">CONSULT</th>
						<th align="left" style="font-size:14px;">MEAL PLAN TYPE</th>
						<th align="left" style="font-size:14px;">ORDER DATE</th>
						<th align="left" style="font-size:14px;">ACTIONS</th>
					</tr>
				</thead>

				<tbody>
					<% @patients.each do |p| %>
						<tr>
							<td><%= link_to p.name, account_path(user_id: p.id), style: "color:#000;" %></td>
							<%= display_patient_meal_plan_status(p) %>
							<td><div class="datatable-middcell"><input type="checkbox" name="ex2_a" id="ex2_a"></div></td>
							<%= display_patient_subscription(p) %>
							<td>
								<%= display_patient_actions(p) %>
							</td>
						</tr>
					<% end %>                    
				</tbody>
			</table>
      
    </div>
  </div>
  <!-- Get Started container close --> 
  
  <%= render "layouts/shared/footer" %>  
  
</div>
</body>
</html>
